<template>
	<div class="container p-mx-2 p-mb-4">
		<header class="p-d-flex p-jc-center p-my-3">
			<img class="logo" alt="Vue logo" src="/img/home-automation-logo.svg" />
			<span>K32</span>
		</header>

		<Card class="p-mb-2">
			<template #title>
				Oben
			</template>
			<template #content>
				<div class="p-field p-grid">
					<label for="steckdose1" class="p-col">Schlafzimmer</label>
					<div class="p-col p-d-flex p-jc-center">
						<InputSwitch
							@click="toggleSwitch({ device: 'steckdose' })"
							id="steckdose1"
							:modelValue="state.steckdose.POWER == 'ON'"
						/>
					</div>
				</div>
				<div class="p-field p-grid">
					<label for="steckdose2" class="p-col">Blaues Zimmer</label>
					<div class="p-col p-d-flex p-jc-center">
						<InputSwitch
							@click="toggleSwitch({ device: 'steckdose2' })"
							id="steckdose2"
							:modelValue="state.steckdose2.POWER == 'ON'"
						/>
					</div>
				</div>
			</template>
		</Card>
		<Card class="p-mb-2">
			<template #title>
				Unten
			</template>
			<template #content>
				<div class="p-field p-grid p-mb-0">
					<label for="rollo1" class="p-col">Wohnzimmer</label>
					<div class="p-col p-d-flex p-jc-center">
						<Button
							@click="toggleDual({ device: 'rollo-wohnzimmer', attribute: 'POWER2' })"
							icon="pi pi-angle-down"
							class="p-button-rounded p-button-outlined p-button-primary p-mr-2"
						/>
						<Button
							@click="toggleDual({ device: 'rollo-wohnzimmer', attribute: 'POWER1' })"
							icon="pi pi-angle-up"
							class="p-button-rounded p-button-outlined p-button-primary"
						/>
					</div>
				</div>
				<div class="p-field p-grid">
					<label for="wohnzimmer-lampe" class="p-col">Wohnzimmerlicht</label>
					<div class="p-col p-d-flex p-jc-center">
						<InputSwitch
							@click="toggleSwitch({ device: 'wohnzimmer-lampe' })"
							id="wohnzimmer-lampe"
							:modelValue="state['wohnzimmer-lampe'].POWER == 'on'"
						/>
					</div>
				</div>
				<div class="p-field p-grid">
					<label for="rollo1" class="p-col">Grünes Zimmer</label>
					<div class="p-col p-d-flex p-jc-center">
						<Button
							@click="toggleDual({ device: 'rollo-gastzimmer', attribute: 'POWER2' })"
							icon="pi pi-angle-down"
							class="p-button-rounded p-button-outlined p-button-primary p-mr-2"
						/>
						<Button
							@click="toggleDual({ device: 'rollo-gastzimmer', attribute: 'POWER1' })"
							icon="pi pi-angle-up"
							class="p-button-rounded p-button-outlined p-button-primary"
						/>
					</div>
				</div>
				<div class="p-grid sensors">
					<div class="p-col p-d-flex">
						<div clas="">Temp.</div>
						<div class="">{{ state['rollo-wohnzimmer'].Temperature }}°C</div>
					</div>
					<div class="p-col p-d-flex">
						<div clas="">Luftf.</div>
						<div class="">{{ state['rollo-wohnzimmer'].Humidity }}%</div>
					</div>
				</div>
			</template>
		</Card>
		<Card>
			<template #title>
				Keller
			</template>
			<template #content>
				<div class="p-grid sensors">
					<div class="p-col p-d-flex">
						<div clas="">Temp.</div>
						<div class="">{{ state['keller-checker'].Temperature }}°C</div>
					</div>
					<div class="p-col p-d-flex">
						<div clas="">Luftf.</div>
						<div class="">{{ state['keller-checker'].Humidity }}%</div>
					</div>
				</div>
			</template>
		</Card>
	</div>
</template>

<script>
import Button from 'primevue/button';
import InputSwitch from 'primevue/inputswitch';
import Card from 'primevue/card';
import { useStore } from '@/store';

export default {
	components: {
		Button,
		InputSwitch,
		Card,
	},
	setup() {
		const { state, toggleDual, toggleSwitch } = useStore();
		return {
			state,
			toggleDual,
			toggleSwitch,
		};
	},
};
</script>

<style lang="sass">
:root
	--surface-a: #1f2d40
	--surface-b: #17212f
	--surface-c: rgba(255, 255, 255, 0.03)
	--surface-d: #304562
	--surface-e: #1f2d40
	--surface-f: #1f2d40
	--text-color: rgba(255, 255, 255, 0.87)
	--text-color-secondary: rgba(255, 255, 255, 0.6)
	--primary-color: #FFD54F
	--primary-color-text: #212529


body,
html
	padding: 0
	margin: 0
	height: 100%
	font-size: 18px
body
	font-family: DejaVuSans, Arial, sans-serif
	color: var(--text-color-primary)
	background-color: var(--surface-b)

#app
	display: flex
	justify-content: center
	font-family: Avenir, Helvetica, Arial, sans-serif
	color: var(--text-color)
.container
	flex: 1
	max-width: 30rem
	text-align: none
header
	color: var(--primary-color)
	font-size: 0.75rem

.logo
	width: 3rem
label
	color: var(--text-color-secondary)
.p-card
	background: var(--surface-a)
.p-card-content
	padding-bottom: 0!important
.p-button
	width: 1.75rem!important
	height: 1.75rem!important
	padding: 0!important
	padding-top: .2rem!important
	.p-button-label
		display: none
.sensors
	div:last-child
			justify-content: center
	div>div:last-child
		margin-left: 1rem
		color: var(--text-color)
</style>
